<div style="width:60%">
    <b>Important: The Deck Cloud Storage is beta. Your decks will get deleted without notice. Local storage will probably get erased as well, so be sure to download any decks you make to your computer to preserve them. </b>



    <label class="savebutton" style="width:20%;"><div class="upload">Upload a Deck</div><input name="upload" type="file" style="display:none;" onchange="angular.element(this).scope().mydecks.uploadDeck(event)" accept=".txt,.o8d"></label>

        <table style="width:100%;" ng-controller="deckdbCtrl">
            <tr>

            </tr>
            <tr ng-repeat="deck in decklist | orderBy:'-dateUTC'">
                <td style="padding-left:10px;">
                    <!-- <div style="font-weight:bold;">Deck</div> -->
                    <div style="font-weight:bold;">{{deck.$id}}</div>
                    <div style="font-size:9px;padding-left:10px;">{{deck.dateUTC|date:'medium'}}</div>
                </td>
			</tr>
		</table>
		
	<div style="width:20%">
		<button class="savebutton" ng-click="loadDeck(deck)">Load into Builder</button>
		<button class="savebutton" ng-click="mydecks.downloadDeck(deck.deck,deck.$id)">Export to Text</button>
		<button class="savebutton" ng-click="mydecks.octgn(deck.deck,deck.$id)">Export to OCTGN</button>
		<button class="savebutton" ng-click="deleteDeck(deck)" style="color:red">Delete Deck</button>
    </div>
</div>